*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
span{
    background-color: yellow;
}
.btn{
margin-top: 1.5em;
background-color: black;
padding: 10px 25px;
color: white;
border: none;
font-size: 1em;
border-radius: 20px;
}
.btn:hover{
    background-color:#1e90ff;
  
    cursor: pointer;
}
.heading{
    font-size: 3em;
}

/*========= Header =========*/



/* .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

}

.nav_list{
    display: flex;
    list-style-type: none;
}
li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 1em;
    font-size: 1.2em;
}*/


.header{
    
    width: 100%;
    height:100px;
    padding:1em  1.5em ;
    
}
.header .logo{
    float:left;
}
.nav_list{
    float: right;
    margin-top: 1em;
} 
.nav_list li{
    list-style: none;
    display: inline-block;
}
.nav_list li a{
    text-decoration: none;
    color: black;
    padding: .5em 1em;
    font-size: 1.2em;
}
.nav_list li a:hover{
    color: white;
    background-color: #1e90ff;
    border-radius: 20px;
}
.checkbtn{
    color: black;
    font-size: 2em;
    cursor: pointer;
    float: right;
    display: none;
}
#check{
    display: none;
}
.active{
    color: blue;
}


/*========= HOME =========*/
.home{
    position: relative;
    color: white;
   text-align: center;
    height: 580px;
   width: 100%;
   
}
.home_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home_content h1{
    font-size: 3em;
}

.home::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(./img/headerBackground.png) no-repeat center center/cover;
    z-index: -1;
    width: 100%;
    height: 580px;
}

.home_btn{
    margin-top: 2em;
    background-color: #1e90ff;
    padding: 10px 25px;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 20px;
}
.home_btn:hover{
    background-color:cornflowerblue;
    cursor: pointer;

}

/*=========ABOUT US=========*/
.about-us{
    display: flex;
    justify-content:space-between;
    text-align: left;
    padding: 3em 2em;
}
.about-us-right{
    width: 45%;
    padding-left: 1em;
}
.about-us-left{
    width: 65%;
    text-align: center;
}

.about-us-left img:nth-child(1){
    position: relative;
    left: -40px;
}
.about-us-left img:nth-child(2){
    position: relative;
    top: -30px;
    left:20px;
}
.section1-3{
    position: relative;
    top: -30px;
}
.section1-4{
    position: relative;
    left: 40px;
}

.about-us-heading{
    font-size: 3em;
    padding-right: 2em;
}

.about-us-right p{
    margin-top: 2em;
    line-height: 2em;  
    
}



/*========HELP=========*/
.help{
    text-align: center;
    background-color: rgb(228, 228, 228);
    padding: 5em 0;
    
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    margin: 2em 3em 0 3em;
    box-shadow: 3px 3px 20px black;
    transition: transform .5s;

}
.circle:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.circle i{
    color:#1e90ff;
    font-size: 2em;
   
    
}
.circle p{
    padding:  1em 2em;
}
.help_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em 0;
    width: 75%;
    margin: auto;
    
}


/*========VIDEO==========*/
.video{
    position: relative;
}
.video img{
    width: 100%;
}
.video::before{
    content: '';
    position: absolute;
    background: url(./img/circle-play-regular.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    filter: invert(100%);
}


/*==========PODCAST SECTION==========*/
.podcast-section{
    text-align: center;
    padding: 3em 0;
}

.episode{
    position: relative;
    text-align: left;
    margin: 0 2em;
    padding: 1em;
    width: 33%;
    box-shadow: 3px 3px 10px black;   
    transition: transform .5s;
}
.episode:hover{
    transform: scale(1.1);
}

.episode img{
    width: 100%;
}
.episode p{
    padding-left: 1em;
}

.podcasts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;   
}


/*========STREAM==========*/
.stream{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2em;
}

.stream-content p{
    margin-top: 1em;
    line-height: 2em; 
}
.cloud{
    position: relative;
    display: inline;
}
.cloud_img1{
    position: relative;
    top: 0;
    left: 0;
}
.cloud_img2{
    position: absolute;
    width: 50px;
    filter: invert(100%);
    top: 0;
    left: 50%;
    transform: translate(-50%,-65%);
}


/*=========PODCAST REVIEW===========*/
.podcast-review{
    padding: 5em 0;
}

.podcast-review-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 0 3em;
}
.podcast-review-heading h3{
    font-size: 3em;
    
}

.review-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
.review{
    position: relative;
    text-align: left;
    margin: 0 2em;
    padding: 1.5em;
    width: 33%;
   transition: transform .5s;
    box-shadow: 1px 1px 20px black; 
}
.review:hover{
    transform: scale(1.1);
}
.person{
    
    bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
}
.person_info{
    margin-left: 1em;
}
.person_info p{
    color: #1e90ff;
}

/*========CONTACT US=========*/
.contact-us{
    position: relative;
    text-align: center;
    height: 580px;
   color: white;
}
.contact-us-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contact-us-content h1{
    font-size: 2.5em;
    margin-top: .5em;
}
.contact-us-content h1 span{
    color: black;
}

.socials{
    margin: 2em 0;

}
.socials i{
    width: 50px;
    height: 50px;
    font-size: 3em;
    margin: 0 .2em;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.socials i:nth-child(1):hover{
    color: blue;
}
.socials i:nth-child(2):hover{
    color:deepskyblue;
}
.socials i:nth-child(3):hover{
    color: rgb(196, 77, 95);
}
.socials i:nth-child(4):hover{
    color:red;
}
.socials i:nth-child(5):hover{
    color:#aba6a6 ;
}
.contact-us::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(./img/section7.png) no-repeat center center/cover;
    z-index: -1;
    width: 100%;
    height: 580px;
}



/*========LAST SECTION=========*/
.last{
    background-color: black;
    color: #aba6a6;
    padding: 4em 3em 0 3em;
}
.details{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    border-bottom: 2px solid rgb(156, 151, 151);
}
.box{
    margin: 0 1em;
}
.details h3{
    margin-bottom: 1em;
    font-size: 1.2em;
    color: white;
}
.about_us p{
   margin-bottom: 2em;    
}
.about_us a{
    color: yellow;
}
.about_us .socials i{
    width: 30px;
    height: 30px;
    font-size: 2em;
}

.quick_links a{
    color:#aba6a6 ;
    text-decoration: none;
    
}

.copyrights{
    display: flex;
    justify-content: space-between;
}
.copyrights p{
    margin: 1em 0;
}







@media  screen and (max-width:1000px) {
    /* .logo{
        padding: 0;
        margin: 0;
    } */

    .checkbtn{
        display: block;
    }
    .nav_list{
        width: 100%;
        background-color: white;
        position: fixed;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: .5 ease;
    }
    .nav_list li{
        display: block;   
    }
    
    #check:checked ~ .nav_list{
        left: 0;
    }

    /*========ABOUT US=======*/
    .about-us{
        display: block;
        text-align: center;
    }
    .about-us-left{
        width: 100%;
    }
    .about-us-right{
        margin-top: 2em;
        width: 100%;
    }



    /*====HELP=====*/
    .help_container{
        width: 100%;
    }

    
}

@media screen and (max-width:768px) {
    .heading, .about-us-heading,.podcast-review-heading h3{
        font-size: 2.5em;
        padding: 0;
    }
    .logo{
        width: 40%;
        height: 90%;
       
    }
    .podcasts{
        flex-direction: column;
    }
    .episode{
        margin: 1em;
        width: auto;
    }
    .review-content{
        flex-direction: column;
    }
    .review{
        margin: 1em;
        width: auto;
    }
    .stream{
        display: block;
       
        text-align: center;
    }
    
    .socials i{
        width: 30px ;
        height: 30px;
    }
    
}


@media screen and (max-width:540px) {
    
    .details{
        display: block;
    }
    .quick_links{
        margin-top: 2em;
    }
    .stream-img img{
        width: 80%;
        
    }
    .about-us-left img:nth-child(1){
        width: 60%;
    }
    .about-us-left img:nth-child(2){
        width: 30%;
    }
    .section1-3{
        position: relative;
        top: -30px;
    }
    .section1-4{
        width: 50%;
    }
    .home_content h1,.contact-us-content h1,.podcast-review-heading h3{
        font-size: 2em;
    }
    .last{
        padding: 3em 1em 0 1em;
    }
    
}
